/* CSS Document */

button.next_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.next_btn span:after {
  content:'>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.next_btn:hover span {
  padding-right: 18px;
}
button.next_btn:hover span:after {
  opacity: 1;
  right: 0;
}
button.next_btn{
	width:100px;
	height:30px;
	display:inline-block;
	color:#000;
	border-radius:15px;
	background-color:#fff;
	float:right;
	margin-top:10px;
	
	
}
button.back_btn{
	width:100px;
	height:30px;
	border-radius:15px;
	display:inline-block;
	background-color:#fff;
	float:left;
	margin-top:10px;
	margin-left:20px;
	color:#000;
	
}
button.back_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.back_btn span:before {
  content:'<<';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0s;
  margin-right:20px;
}

button.back_btn:hover span {
  padding-left: 18px;
}
button.back_btn:hover span:before {
  opacity: 1;
  right: 0;
}
.question{
width:588px;
height:auto;
background-color:#CCC;
margin-top:50px;
margin-left:100px;
border-radius:15px;
}
.top_question{
font-size:30px;
font-weight:bold;
text-align:center;
padding-top:10px;
}
.center_question{
font-size:16px;
width:588px;


}
.content_question{
margin:20px;
width:588px;

}
.form_row{
	margin:20px 0 0 100px;
}

.bottom_question{
width:550px;
height:50px;

border-top:2px solid;
}


ul.main_button{
margin:10px;
border:none;
}
button.button_number{
	width: 25px;
	height:25px;
	color:#FFF;
	background:#FFF;
	padding:2px;
}
.time{
margin-left:50px;
margin-top:20px;	
}
input.text_time{
	width:75px;
text-align:center;
float:left;
background-color:#CCC;
}
.icon{
	width:50px;
	height:25px;
background:url(../image/time.JPG) no-repeat left;

float:left
}
