.affix {
	top: 0;
	width: 100%;
}
.affix + .container-fluid {
	padding-top: 70px;x
}
.modal-header, h4, .close {
	background-color: #5cb85c;
	color: white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	background-color: #f9f9f9;
}
.image{
	width:100%;
	height:400px;
background-image:url(../image/cover%20myweb.jpg);
background-repeat:no-repeat;
background-size:100% 400px;
}
.Main{
margin-left:100px;
margin-right:100px;
}
.Header{
	width:100%;
	height:500px;
}