.Main_content{
width:588px;
height:auto;
background-color:#ccc;
border-radius:15px;
margin:90px 0 0 100px;
}
.Top_Main_content{
font-size:30px;
text-align:center;
padding-top:10px;
font-weight:bold;
}
.Mid_Main_content{
font-size:16px;
text-align:center;
}