.end{
width:588px;
height:auto;
background-color:#CCC;
margin:50px 100px;
border-radius:15px;
}
.top-end{
font-size:30px;
font-weight:bolder;
text-align:center;
padding:5px;
}
.mid-end{
text-align:center;
padding:5px;
font-size:16px;
}
.bottom-end{
width:300px;
height:50px;
margin-top:10px;
margin-left:150px;
}
button.yes{
float:right;
width:100px;
height:30px;
border-radius:15px;
background-color:#fff;
color:#000;
}
button.No{
float:left;
width:100px;
height:30px;
border-radius:15px;
background-color:#fff;
color:#000;
}
