.Main_content{
	width:650px;
	height:auto;
	margin: 90px 0 0 100px;
background-color:#ccc;
border-radius:15px;
	
}
.Top_Main_content{
	font-size:30px;
	font-weight:bold;
	margin:10px;
	text-align:center;
}
.Mid_Main_content
{
	text-align:center;	
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
	background:#fff;
	margin:20px 0 0 30px;
}
th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}
.Bottom_Main_content{
	width:500px;
	height:40px;
	margin:10px 50px 10px 50px;
}
button.Left_btn{
	border-radius:15px;
	background-color:#fff;
	color:#000;
	float:left;
	
}
button.Mid_btn{
	border-radius:15px;
	background-color:#fff;
	color:#000;
	margin-left:100px;
}
button.Right_btn{
	border-radius:15px;
	background-color:#fff;
	color:#000;
	float:right;
}