.Main_content{
	margin:90px 0 0 100px;
	border-radius:15px;
	background-color:#ccc;
	width:588px;
	height:auto;
}
.Top_Main_content{
font-size:30px;
font-weight:bold;
text-align:center;
padding-top:10px;
}


.Text_Mid_Main_content{
	width:588px;
	float:left;
	margin: 5px;
	
	
}
.Input_Text_Mid_Main_content{
	float:left;
	margin-left:50px;
	font-size:16px;
}
textarea.Input_Text_Mid{
	float:left;
	min-width:300px;
	max-width:300px;
}

}
.option{
	float:left;
}
.Bottom_Main_content_Taocauhoi{
	width:400px;
	margin:50px 0 10px 100px;
}
button.Left_btn{
	width:100px;
	border-radius:15px;
	background-color:#fff;
	color:#000;
	float:left;
	
}

button.Right_btn{
	width:100px;
	border-radius:15px;
	background-color:#fff;
	color:#000;
	float:right;
}
