.Main_content{
width:90%;
height:auto;
background-color:#fff;
border-radius:15px;

margin-left:20px;

}
.Top_Main_content{
font-size:30px;
text-align:center;
padding-top:10px;
font-weight:bold;
}
.Mid_Main_content{
font-size:16px;
text-align:center;
}
button.Mid_btn{
	
	width:100px;
	border-radius:15px;
	background-color:#fff;
	color:#000;
	margin-left:200px;
	outline:none;
	margin-top:10px;

}
.Bottom_Main_content{
	padding:10px;
	}
input.input-file{
	margin-left:150px;
}/* CSS Document */

